* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "sf";
  src: url("../public/sf.ttf");
}

.font-sf {
  font-family: "sf";
}

label[aria-label="Select All"] {
  display: none !important;
}